/Beginner CSharpe/Hello World/.vs
/Beginner CSharpe/Hello World/bin/
/Beginner CSharpe/Hello World/obj/

/Beginner CSharpe/Data Types and Variables/Mad Libs/.vs
/Beginner CSharpe/Data Types and Variables/Mad Libs/bin/
/Beginner CSharpe/Data Types and Variables/Mad Libs/obj/

/Beginner CSharpe/Data Types and Variables/Money Maker/.vs
/Beginner CSharpe/Data Types and Variables/Money Maker/bin/
/Beginner CSharpe/Data Types and Variables/Money Maker/obj/

/Beginner CSharpe/Logic and Conditionals/Password Checker/.vs
/Beginner CSharpe/Logic and Conditionals/Password Checker/bin/
/Beginner CSharpe/Logic and Conditionals/Password Checker/obj/

/Beginner CSharpe/Methods/Architect Arithmetic/.vs
/Beginner CSharpe/Methods/Architect Arithmetic/bin/
/Beginner CSharpe/Methods/Architect Arithmetic/obj/

/Beginner CSharpe/Methods/Lambda Expressions/.vs
/Beginner CSharpe/Methods/Lambda Expressions/bin/
/Beginner CSharpe/Methods/Lambda Expressions/obj/