Beginner CSharpe\Hello World\.vs
Beginner CSharpe\Hello World\bin
Beginner CSharpe\Hello World\obj
/Beginner CSharpe/Hello World/.vs
/Beginner CSharpe/Hello World/bin/Debug/net6.0
/Beginner CSharpe/Hello World/obj
